# Clase 1 - Ejemplos prácticos
## Colab
Google Colab es un servicio en la nube gratuito que permite escribir y ejecutar código Python en el navegador, sin necesidad de configuración. Funciona como un entorno de trabajo colaborativo similar a los Jupyter Notebooks, pero alojado en los servidores de Google, lo que facilita el acceso a recursos de computación como GPUs y TPUs para tareas como aprendizaje automático y análisis de datos.

Colab posee lo que son celdas de texto y celdas de código. En las celdas de texto como esta se utiliza Markdown para dar formato al texto. A continuación algunos, ejemplos:

*texto en cursiva*

**texto en negrita**



```
# Tiene formato de código
```

[texto del enlace](https://)

Las celdas de código permiten ejecutar código python. Y muestran la salida en la parte inferiror de cada una.

In [ ]:
saludo = 'Hola mundo'

print(saludo)

Hola mundo

En una celda de código es posible imprimir la variable simplemente escribirndo el nombre de la misma.

In [ ]:
saludo

'Hola mundo'

Las variables y funciones que pertenecen al entorno global pueden ser utilizadas en cualquier parte del notebook.

## Instalación de librerías

In [ ]:
!pip install tensorflow #Debe anteponerse el signo ! para realizar una instalación en colab

Requirement already satisfied: tensorflow in /usr/local/lib/python3.12/dist-packages (2.19.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (25.9.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from tensorflow) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (5.29.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.32.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from tensorflow) (75.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (4.15.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.0.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.76.0)
Requirement already satisfied: tensorboard~=2.19.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.19.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.10.0)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.0.2)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.15.1)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.5.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.12/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (0.18.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (2025.11.12)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (3.10)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.12/dist-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (3.0.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras>=3.5.0->tensorflow) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.12/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

# Numpy
NumPy es una biblioteca de Python que facilita la computación científica, la manipulación de datos y cálculos numéricos. Su nombre proviene de "Numerical Python" y proporciona soporte para trabajar con arreglos y matrices multidimensionales de alto rendimiento, junto con una amplia colección de funciones matemáticas de alto nivel para operar con ellos.

Algunas de las funciones más comunes son:

* np.array([1, 2, 3]) — crea un array
* np.zeros((3,3)) — crea una matriz de ceros de 3x3
* np.mean(array) — promedio de elementos
* np.dot(A, B) — producto punto de matrices A y B

### Creación de Arrays

In [3]:
import numpy as np

a = [1,2,3,4,5,6,7]
print(a)

print('-'*15)
b = np.array(a)
b

[1, 2, 3, 4, 5, 6, 7]
---------------

array([1, 2, 3, 4, 5, 6, 7])

### Creación de una matriz de ceros

In [ ]:
c = np.zeros((4,4))
c

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

### Calcular la media

In [ ]:
media = np.mean(b)
media

np.float64(4.0)

### Operaciones matemáticas con arrays

In [4]:
# suma
d = np.array([2,4,6,8,10,12,14])

b+d

array([ 3,  6,  9, 12, 15, 18, 21])

In [5]:
# resta
d-b

array([1, 2, 3, 4, 5, 6, 7])

In [ ]:
# multiplicación
b*d

array([ 2,  8, 18, 32, 50, 72, 98])

In [ ]:
# división
d/b

array([2., 2., 2., 2., 2., 2., 2.])

In [ ]:
# multiplicación por un escalar
d*5

array([10, 20, 30, 40, 50, 60, 70])

In [ ]:
# producto punto
np.dot(b, d)

np.int64(280)

### Crear una matriz de unos

In [ ]:
np.ones((5,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

### Crear un arreglo de numeros especificando el inicio, final y el paso

In [ ]:
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

### Crear un arreglo de números equidistantes

In [ ]:
np.linspace(0,2, 4)

array([0.        , 0.66666667, 1.33333333, 2.        ])

### Crear una matriz identidad

In [ ]:
e = np.eye(3)
e

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Crear un arreglo de numeros aleatorios

In [7]:
random = np.random.rand(0,10)
random

array([], shape=(0, 10, 2), dtype=float64)

### Indexación

In [ ]:
b[0]

np.int64(1)

In [ ]:
e[0][2]

np.float64(0.0)

In [ ]:
e[0,2]

np.float64(0.0)

In [ ]:
b[1:4]

array([2, 3, 4])

### Conocer las dimensiones de un arreglo

In [ ]:
b.shape

(7,)

In [ ]:
e.shape

(3, 3)

### Otras funciones

In [ ]:
print('Suma', np.sum(b))

Suma 28

In [ ]:
np.max(b)

np.int64(7)

In [ ]:
# Crear matriz con valores aleatorios
matriz = np.random.randint(1, 20, (4,3))
matriz

array([[10,  9,  9],
       [14, 11, 13],
       [ 5,  5, 10],
       [18, 12,  6]])

In [ ]:
np.mean(matriz, axis=0)

array([11.75,  9.25,  9.5 ])

# Pandas

## Serie

In [ ]:
import pandas as pd

serie = pd.Series([10,15,14,17], index=['a', 'b', 'c', 'd'])
serie

a    10
b    15
c    14
d    17
dtype: int64

In [ ]:
diccionario = {'Maria': 20, 'Mario': 14, 'Jose': 12}
serie2 = pd.Series(diccionario)
serie2

Maria    20
Mario    14
Jose     12
dtype: int64

In [ ]:
serie3 = pd.Series(b)
serie3

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64